<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active" [routerLink]="['/home']" >
        <a class="nav-link bold">Home</a>
      </li>
      <li class="nav-item" routerLinkActive="active"
          routerLink="/questions">
        <a class="nav-link">Questions</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" routerLink="/register" *ngIf="!isLoggedIn">
        <a class="nav-link"  routerLinkActive="active">Register</a>
      </li>
      <li class="nav-item" routerLink="/login" routerLinkActive="active" *ngIf="!isLoggedIn" >
        <a class="nav-link">Login</a>
      </li>

      <li class="nav-item" >
        <a class="nav-link" (click)="logout()" *ngIf="isLoggedIn">Logout</a>
      </li>
    </ul>
  </div>
</nav>
